#mainPage {
  padding: 20px;
  padding-top: 10px;
}

#submitAuthorButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.authorSpan {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.authorDiv {
  margin-top: 10px;
}